<div class="profile">
  <div class="profile__item">
    <span class="profile__item__title">
      Id:
    </span>
    <span class="profile__item__value">
      {{playerDetails.id}}
    </span>
  </div>
  <div class="profile__item">
    <span class="profile__item__title">
      Team:
    </span>
    <span class="profile__item__value">
      {{playerDetails.profile.team}}
    </span>
  </div>
  <div class="profile__item">
    <span class="profile__item__title">
      Age:
    </span>
    <span class="profile__item__value">
      {{playerDetails.profile.age}}
    </span>
  </div>
  <div class="profile__item">
    <span class="profile__item__title">
      Position:
    </span>
    <span class="profile__item__value">
      {{playerDetails.profile.role}}
    </span>
  </div>
</div>