.search-engine {
  &__search-panel {
    display: block;
    margin-top: 20px;
  }
  &__detail-panel {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  &__no-content,
  &__loader {
    display: block;
    text-align: center;
    margin-top: 100px;
  }
}