<div class="summary" *ngIf="stats">
  <div class="summary__item">
    <span class="summary__item__value">
      {{stats.gamesPlayed}}
    </span>
    <span class="summary__item__title">
      Games
    </span>
  </div>
  <div class="summary__item">
    <span class="summary__item__value">
      {{stats.assists}}
    </span>
    <span class="summary__item__title">
      Assists
    </span>
  </div>
  <div class="summary__item">
    <span class="summary__item__value">
      {{stats.goals}}
    </span>
    <span class="summary__item__title">
      Goals
    </span>
  </div>
</div>