.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.7s infinite alternate;
  &__img {
    width: 30px;
  }
}

@keyframes fadeIn { 
  from { opacity: 0.5; } 
}